@use "tailwindcss";

$lasa: #004c20;
$lasa-gray: #dfdfdf;
$dm-serif-display: "DM Serif Display", serif;
$dm-sans: "DM Serif Text", sans-serif;
$open-sans: "Open Sans", sans-serif;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Modo escuro desativado temporariamente (UI não concluída)
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-mono: 'Droid Sans Mono', 'monospace', monospace;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: $dm-sans;

  .bg-lasa {
    background-color: $lasa !important;
    color: #fff;
  }

  .title-lasa {
    color: $lasa;
    font-family: $dm-serif-display;
  }
  .text-lasa {
    color: $lasa;
    font-family: $dm-sans;
  }

  .dm-serif-display {
    font-family: $dm-serif-display;
  }
  .dm-sans {
    font-family: $dm-sans;
  }

  .card {
    background-color: $lasa-gray;
  }

  #button-primary {
    color: $lasa;
    text-decoration: underline;
    background-color: white;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &:hover {
      color: white;
      background-color: transparent;
      border: white 1px solid;
    }
  }

  #button-secondary {
    color: white;
    text-decoration: underline;
    background-color: $lasa;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &:hover {
      color: $lasa;
      background-color: transparent;
      border: $lasa 1px solid;
    }
  }
}

.header {
  font-family: $dm-serif-display;

  #top-bar {
    font-family: $open-sans;
    background-color: #f1f1f1;
    border-bottom: #60606042 1px solid;

    .link {
      display: flex;
      align-items: center;
      height: 100%;
      box-sizing: border-box;
      border-right: #60606042 1px solid;
      padding: 0 0.5rem;
    }
    .link:last-child {
      border-right: none;
    }
  }
}
